* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

div img {
    width: 100%;
    object-fit: cover;
    height: auto;
}

.transition-scale {
    transition: 0.2s;
}

.color-white {
    color: white;
}

.po-relative {
    position: relative;
}

.po-abosolute {
    position: absolute;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.j-center {
    justify-content: center;
}

.a-center {
    align-items: center;
}

.shadow {
    position: absolute;
    left: 5px;
    bottom: 0;
    right: 5px;
    padding: 50px 10px;
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0)
    );
    color: #fff;
}

.text h1 {
    font-size: 22px;
    font-weight: 400;
    margin-top: 5px;
}

.row h2 {
    margin-top: 35px;
    margin-bottom: 2px;
    padding-left: 5px;
    font-size: 25px;
    font-weight: 400;
}

.cursor-pointer {
    cursor: pointer;
}

/* Nav - start */
.nav-outer {
    background-color: white;
    z-index: 100;
}

.nav {
    padding-bottom: 5px;
    padding-top: 5px;
}

.logo {
    width: 155.65px;
}

.list-item-header {
    padding: 2px 15px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-left: 10px;
}

.tim-anime {
    border-radius: 20px;
    height: 30px;
    width: 320px;
    border: 1px solid #ddd;
    padding-left: 10px;
    margin-left: 40px;
}

.search-icon {
    right: 10px;
    top: 5px;
}

.log-in {
    justify-content: flex-end;
    font-size: 25px;
}

.sun i, .person i {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #333;
    cursor: pointer;
    background-color: #BFBFBF;
    text-align: center;
    margin-left: 7px;
}

.person i {
    color: white;
}

.sun i {
    background-color: #EEEEEE;
}

.list-nav {
    display: none;
}

/* Nav - end */

/* Nav Burger - start */
.nav-burger {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 300px;
    background-color: white;
    z-index: 100;
    transition: 0.25s;
    margin-left: -300px;
}

.marginLeft-0 {
    margin-left: 0;
}

.close-burger-nav {
    right: 15px;
    top: 8px;
}

.search-nav-burger {
    top: 6px;
    right: 5px;
}
/* Nav Burger - end */

/* Form - start */


.form-login {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    margin-right: -300px;
    z-index: 101;
    background-color: white;
    transition: 0.25s;
}

.marginRight-0 {
    margin-right: 0;
}


.hello {
    background-image: url('img/nav/navbar-user-header.jpg');
    height: 120px;
    padding: 10px;

}

.close-form {
    top: 5px;
    left: 5px;
    font-size: 25px;
    cursor: pointer;
}

.chao-khach {
    display: inline-block;
    margin-top: 50px;
    font-weight: 600;
    font-size: 14px;
}

.circle-shadow {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.25);
    right: 10px;
    top: 10px;
}

.user-tab {
    font-weight: 600;
    font-size: 12px;
    bottom: 0;
    left: 10px;
    
}

.user-tab div {
    padding-bottom: 5px;
}

.dang-ky {
    margin-left: 20px;
}

.dang-nhap {
    border-bottom: 3px solid #d80f16;
}

.form-group {
    margin-bottom: 10px;
}

.form-dang-nhap {
    padding: 20px 10px;
}

.form-dang-nhap input {
    padding-left: 25px;
    width: 100%;
    height: 30px;
}

.ten-dang-nhap i {
    left: 5px;
    top: 25px;
}

.mat-khau i {
    left: 5px;
    top: 25px;
}

.quen-mat-khau {
    right: 0;
    top: 5px;
    text-decoration: underline;
    color: #888;
    font-size: 12px;
    cursor: pointer;
}

#remember {
    left: 10px;
    top: 10px;
}

.checkbox-ghi-nho {
    display: inline-block;
    height: 30px;
    width: 30px;
}

.button-dang-nhap {
    margin-top: 25px;
}

.button-dang-nhap button {
    width: 100%;
    height: 30px;
    font-size: 13px;
    border: 1px solid rabg(160, 160, 160);
    border-radius: 2px;
    cursor: pointer;
    color: black;
}

.fb {
    background-color: #3b5998;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 13px;
    border-radius: 2px;
    height: 30px;
    padding-top: 6px;
    margin-bottom: 10px;
    cursor: pointer;
}

.gg {
    background-color: #c23321;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 13px;
    border-radius: 2px;
    height: 30px;
    padding-top: 6px;
    cursor: pointer;
}

.fb i, .gg i {
    left: 10px;
    top: 7px;
}

/* Form - end */


/* Header */
.header img {
    cursor: pointer;
}

.header {
    padding-top: 70px;
}

.main-header {
    position: relative;
}

.content-header {
    position: absolute;
    left: 25px;
    bottom: 15px;
}

/* .play-button div i {
    display: inline-block;
    width: 70px;
    height: 70px;
    font-size: 50px;
    background-color: rgba(0,0,0,.6);
    border-radius: 50%;
    color: white;
    padding-left: 13px;
} */

.play-button div i {
    width: 70px;
    height: 70px;
    font-size: 45px;
    background-color: rgba(0,0,0,.6);
}

.luot-xem {
    padding-top: 10px;
}

.text {
    padding-left: 10px;
    color: white;
}

/* Tập mới nhất */
.flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.justify-content-between {
    justify-content: space-between;
}

.movie {
    position: relative;
    overflow: hidden;
}

.movie-play {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0;
    border-radius: 50%;
    color: #fff;
    width: 60px;
    height: 60px;
    font-size: 40px;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.3s;
}

.video-play {
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    width: 60px;
    height: 60px;
}

.movie-play .bi-play-fill {
    margin-left: 5px;
}

.movie-desc {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 20px 10px 5px 10px;
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0)
    );
    color: #fff;
}

.movie-thumbnail {
    transition: transform 0.3s;
}

.movie:hover .movie-thumbnail {
    transform: scale(1.1);
}

.movie:hover .movie-play {
    opacity: 1;
}

.new-episodes img {
    cursor: pointer;
}

/* Tin anime */
.content-tin-anime {
    padding-left: 10px;
}

/* Video - start */
.video-fraction {
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

.video-fraction:hover .time-video {
    background-color: black;
}

.video-fraction:hover {
    opacity: 0.8;
}

.play-video {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
}

.video .play-button div i {
    height: 50px;
    width: 50px;
    font-size: 40px;
    padding-left: 5px;
    padding-top: 1px;
    border: 1px solid white;
}

.time-video {
    margin-left: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.content-video {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    color: white;
}

.shadow-video {
    left: 0;
    right: 0;
}
/* Video - end */

/* Truyện Tranh - start */
.truyen-tranh {
    color: white;
    cursor: pointer;
}

.truyen-tranh h2 {
    color: black;
}

.truyen-tranh_fraction {
    transition: opacity 0.3s;
}

.truyen-tranh_fraction:hover {
    opacity: 0.8;
}

.truyen-tranh_chap {
    top: 10px;
    left: 10px;
    background-color: black;
    padding: 2px 7px;
    border: 1px solid white;
}

.truyen-tranh_content {
    bottom: 10px;
    left: 10px;
}
/* Truyện Tranh - end */


/* Tin tổng hợp - start */
.tin-tong-hop_content {
    padding-left: 10px;
}

.label {
    display: inline-block;
    padding: 2px 8px;
    color: white;
    background-color: #d80f16;
    margin-bottom: 5px;
    font-size: 10px;
}
/* Tin tổng hợp - end */

.phim-hoat-hinh_fraciton:hover img {
    transform: scale(1.1);
}

.phim-hoat-hinh_fraciton {
    overflow: hidden;
}

/* Hom nay xem gi - start */
.xem-episodes:hover img {
    transform: scale(1.1)
}
.so-tap {
    position: absolute;
    display: inline-block;
    color: white;
    background-color: black;
    width: 100px;
    left: 80px;
    top: 25px;
    padding: 5px;
    opacity: 0;
    transition: 0.3s;
}

.xem-episodes:hover .so-tap {
    opacity: 1;
}

.xem-episodes {
    cursor: pointer;
}
/* Hom nay xem gi - end */


/* Bảng xếp hạng - start */
.img-ranking {
    flex-basis: 50%;
}

.ranking {
    padding: 10px;
    background: linear-gradient(
        -180deg
        ,rgba(244,67,54,.9),rgba(244,67,54,.2));
}

.content-ranking {
    margin-left: 10px;
    color: white;
    font-size: 18px;
}

.number-ranking {
    bottom: 10px;
    right: 10px;
    font-size: 60px;
}
/* Bảng xếp hạng - end */


/* Tất cả anime - start */
.movie-title {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
}
/* Tất cả anime - end */

.xem-them {
    margin-left: calc(50% - 52.87px);
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    background: rgb(216, 15, 22);
    color: white;
    text-align: center;
    padding: 10px 15px;
}

/* Style cho màn hình nhỏ hơn 768px */
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: -10px;
    margin-bottom: 5px;
}

[class*="col-"] {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
}

.col-1 {
    flex-basis: 8.33333%;
}

.col-2 {
    flex-basis: 16.66667%;
}

.col-3 {
    flex-basis: 25%;
}

.col-4 {
    flex-basis: 33.3333%;
}

.col-5 {
    flex-basis: 41.66667%;
}

.col-6 {
    flex-basis: 50%;
}

.col-7 {
    flex-basis: 58.33333%;
}

.col-8 {
    flex-basis: 66.66667%;
}

.col-9 {
    flex-basis: 75%;
}

.col-10 {
    flex-basis: 83.3333%;
}

.col-11 {
    flex-basis: 91.66667%;
}

.col-12 {
    flex-basis: 100%;
}


/* Style cho màn hình lớn hơn 768px - md - medium */
@media (min-width: 768px) {
    .container {
        max-width: 740px;
    }

    
    .col-md-1 {
        flex-basis: 8.33333%;
    }

    .col-md-2 {
        flex-basis: 16.66667%;
    }

    .col-md-3 {
        flex-basis: 25%;
    }

    .col-md-4 {
        flex-basis: 33.3333%;
    }

    .col-md-5 {
        flex-basis: 41.66667%;
    }

    .col-md-6 {
        flex-basis: 50%;
    }

    .col-md-7 {
        flex-basis: 58.33333%;
    }

    .col-md-8 {
        flex-basis: 66.66667%;
    }

    .col-md-9 {
        flex-basis: 75%;
    }

    .col-md-10 {
        flex-basis: 83.3333%;
    }

    .col-md-11 {
        flex-basis: 91.66667%;
    }

    .col-md-12 {
        flex-basis: 100%;
    }

    .ranking {
        display: block;
        overflow: hidden;
        height: 120px;
        padding: 0;
    }

    .img-ranking {
        flex-basis: 100%;
        opacity: 0.6;
        overflow: hidden;
    }
    
    .name-ranking {
        position: absolute;
        top: 10px;
        left: 10px;
    }
}

/* Style cho màn hình lớn hơn 1200px - lg - large */
@media (min-width: 1310px) {
    .list-nav {
        display: flex;
    }

    .container {
        max-width: 1310px;
    }
    .d-block-lg {
        display: block;
    }
    .col-lg-1 {
        flex-basis: 8.33333%;
    }

    .col-lg-2 {
        flex-basis: 16.66667%;
    }

    .col-lg-3 {
        flex-basis: 25%;
    }

    .col-lg-4 {
        flex-basis: 33.3333%;
    }

    .col-lg-5 {
        flex-basis: 41.66667%;
    }

    .col-lg-6 {
        flex-basis: 50%;
    }

    .col-lg-7 {
        flex-basis: 58.33333%;
    }

    .col-lg-8 {
        flex-basis: 66.66667%;
    }

    .col-lg-9 {
        flex-basis: 75%;
    }

    .col-lg-10 {
        flex-basis: 83.3333%;
    }

    .col-lg-11 {
        flex-basis: 91.66667%;
    }

    .col-lg-12 {
        flex-basis: 100%;
    }

    .padding-bot-lg-5 {
        padding-bottom: 5px;
    }
}